@import "tailwindcss";
@import "./custom.css";

@theme {
  --color-bg-1: #119b04;
  --color-bg-2: #00203f;
  --color-text: #ffe6e6;
  --color-muted: #d89c9c;
  --color-accent: #2bff00;
  --color-accent-2: #77fd5c;
  --color-card: #032201;
}
